@charset "utf-8";
.prue{
	display:block;
	position:relative;
	float:left;
}
.prue-g{
	width:100%;
	margin-top:1.5em;
	margin-bottom: 1.2em;
}
.prue-1-1{
	width:100%;
}
.prue-1-2{
	width:50%;
}
.prue-1-3{
	width:33%;
}
@media (max-width: 786px) {
.prue-1-1,.prue-1-2,.prue-1-3{
	width:100%;
}
}